@import "src/assets/variables.scss";

.app-header {
  display: flex;
  align-items: center;
  position: relative;
  height: 64px;
  padding: 0 12px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  div:last-of-type {
    margin-left: auto;
  }

  .logo {
    display: inline-flex;
    align-items: center;
    height: 32px;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background-color: #dbeafe;
    }
    img {
      display: inline-block;
      height: 24px;
      width: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }
    span {
      font-weight: 700;
    }
  }

  .nav-options {
    display: inline-flex;
    align-items: center;

    [nz-button] {
      font-weight: 600;
    }

    [nz-button]:hover {
      background-color: #dbeafe;
      color: #0850fb;
    }

    .avatar-container {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: #dbeafe;
      }
      nz-avatar:hover {
        cursor: pointer;
      }
    }
  }

  .create-issue-button {
    margin-left: 1rem;

    button:disabled {
      color: #fff;
      background-color: lighten($primary, 30%);
    }
  }
}

.user-menu {
  [nz-menu-item] {
    padding: 10px 12px;
  }
}

nz-divider {
  margin: 10px 0;
}

.project-info {
  display: inline-flex;
  align-items: center;
  img {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    margin-right: 10px;
  }
  .content {
    display: flex;
    flex-direction: column;
    line-height: 1.3;

    span:first-of-type {
      font-size: 14px;
      color: black;
    }
    span:last-of-type {
      font-size: 11px;
    }
  }
}

.not-implemented {
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  width: 0;
  visibility: hidden;
  font-size: 0.75rem;
  font-weight: 700;
  color: #253858;
  cursor: not-allowed;
}
li.toggle-on-hover {
  display: flex;
  align-items: center;
  &:hover {
    span:first-of-type {
      width: 0;
      visibility: hidden;
    }
    span:last-of-type {
      width: auto;
      visibility: visible;
    }
  }
}
