<div [formGroup]="form">
  <nz-select formControlName="priority" [nzCustomTemplate]="priorityTempl">
    <nz-option
      nzCustomContent
      *ngFor="let priority of priorities"
      [nzValue]="priority.value"
    >
      <div class="issue-priority-select">
        <app-svg-icon [name]="priority.icon" [size]="18"></app-svg-icon>
        <span>{{ priority.value }}</span>
      </div>
    </nz-option>
  </nz-select>

  <ng-template #priorityTempl let-selected>
    <div class="issue-priority-select">
      <app-svg-icon
        [name]="getPriorityIcon(selected.nzValue)"
        [size]="18"
      ></app-svg-icon>
      <span>{{ selected.nzValue }}</span>
    </div>
  </ng-template>
</div>
