<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    nzTheme="light"
    [(nzCollapsed)]="isSidebarCollapsed"
    [nzTrigger]="null"
    (nzCollapsedChange)="onSidebarCollapsed($event)"
  >
    <app-navigation-sidebar></app-navigation-sidebar>
  </nz-sider>
  <nz-layout class="content-layout">
    <nz-header>
      <app-navigation-toolbar></app-navigation-toolbar>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
