textarea {
  border-color: transparent;
  padding: 10px 8px;
  line-height: 1.28;
  resize: none;
  box-shadow: 0 0 0 1px transparent;
  transition: background 0.1s ease 0s;
  overflow: auto;
  overflow-y: hidden;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -8px;
  color: rgba(23, 43, 77, 1);

  &:hover:not(:focus) {
    background-color: rgba(235, 236, 240, 1);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #4c9aff;
    box-shadow: 0 0 0 1px #4c9aff;
    outline: none;
  }

  &.ng-invalid {
    border-color: #ff4d4f;
    background-color: transparent !important;
    &:focus {
      border-color: #ff7875;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: 0 0 0 2px rgb(255 77 79 / 20%);
    }
  }
}
