<form nz-form [nzLayout]="'inline'" [formGroup]="filterForm">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSuffixIcon="search">
        <input formControlName="filterQuery" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-avatar-group>
  <nz-avatar
    *ngFor="let user of assignedUsers$ | async"
    nzIcon="user"
    nzSrc="{{ user.avatarUrl }}"
    nz-tooltip
    nzTooltipTitle="{{ user.name }}"
  ></nz-avatar>
</nz-avatar-group>

<button nz-button>Only My Issues</button>
<button nz-button>Recently Updated</button>

<nz-divider nzType="vertical"></nz-divider>

<button nz-button>Clear all</button>
