:host {
  display: flex;
  padding: 16px 24px;
  flex-wrap: wrap;
}

form {
  margin: 4px 0;
}

.avatar-group {
  display: flex;
  align-items: center;

  margin-right: 1rem;
  margin-left: 0.5rem;

  .avatar {
    display: flex;

    border-radius: 50%;
    margin-left: -0.25rem;

    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    nz-avatar {
      box-shadow: 0 0 0 2px #fff;
      user-select: none;
    }

    &:hover {
      transform: translateY(-4px);
      z-index: 11;
    }

    &.is-active {
      box-shadow: 0 0 0 4px #1255b9;
      z-index: 1;
    }
  }
}

nz-input-group {
  background: rgba(9, 30, 66, 0.04);
  input {
    background: rgba(9, 30, 66, 0);
  }
}
nz-input-group:hover {
  background: rgba(9, 30, 66, 0.1);
  border-color: rgba(9, 30, 66, 0.1) !important;
}
nz-input-group:focus-within {
  background: #fff;
  input {
    background: #fff;
  }
}

[nz-button] {
  background: rgba(9, 30, 66, 0.04);
  color: rgb(66, 82, 110) !important;
  border: none;
  margin: 4px 0;
  margin-right: 1rem;
}
[nz-button]:hover {
  background: rgba(9, 30, 66, 0.1);
}

nz-divider {
  height: auto;
  margin: 4px 0;
  margin-right: 1rem;
}

.is-active {
  color: rgb(244, 245, 247) !important;
  background-color: #253858;
  &:hover {
    background-color: lighten(#253858, 10%);
  }
}
