:host {
  display: flex;
  padding: 16px 24px;
  flex-wrap: wrap;
}

form,
nz-avatar-group {
  margin: 4px 0;
}

nz-avatar-group {
  margin-right: 1rem;
}

nz-input-group {
  background: rgba(9, 30, 66, 0.04);
  input {
    background: rgba(9, 30, 66, 0);
  }
}
nz-input-group:hover {
  background: rgba(9, 30, 66, 0.1);
  border-color: rgba(9, 30, 66, 0.1) !important;
}
nz-input-group:focus-within {
  background: #fff;
  input {
    background: #fff;
  }
}

nz-avatar {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
nz-avatar:hover {
  transform: translateY(-4px);
  z-index: 11;
}

[nz-button] {
  background: rgba(9, 30, 66, 0.04);
  color: rgb(66, 82, 110) !important;
  border: none;
  margin: 4px 0;
  margin-right: 1rem;
}
[nz-button]:hover {
  background: rgba(9, 30, 66, 0.1);
}

nz-divider {
  height: auto;
  margin: 4px 0;
  margin-right: 1rem;
}
