<div
  *ngIf="currentProject"
  class="project-info"
  [ngClass]="isCollapsed ? 'justify' : ''"
>
  <img [src]="currentProject?.avatarUrl" alt="Project logo" />
  <div class="content" [ngClass]="isCollapsed ? 'opacity-0' : 'opacity-1'">
    <h2>{{ currentProject?.name }}</h2>
    <span>{{ currentProject?.category }}</span>
  </div>
</div>
<ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <li
    nz-menu-item
    nz-tooltip
    nzTooltipPlacement="right"
    [nzTooltipTitle]="isCollapsed ? 'Kanban board' : ''"
    routerLink="board"
    nzMatchRouter
  >
    <i nz-icon nzType="appstore"></i>
    <span>Kanban board</span>
  </li>
  <nz-divider></nz-divider>
  <li nz-submenu nzTitle="Project settings" nzIcon="setting">
    <ul>
      <li
        nz-menu-item
        [routerLink]="['/projects', currentProject?.id, 'settings', 'details']"
        nzMatchRouter
      >
        Details
      </li>
      <li nz-menu-item routerLink="projects/settings/people" nzMatchRouter>
        People
      </li>
    </ul>
  </li>
</ul>
