<div *ngIf="issues$ | async as issues" class="column">
  <h3 class="column-title">
    {{ status | issueStatus }}
    <ng-container *ngIf="anyFilter | async"
      >{{ totalIssuesFiltered | async }} of
    </ng-container>
    {{ issuesCount$ | async }}
  </h3>
  <div
    cdkDropList
    [cdkDropListData]="issues"
    [id]="status"
    (cdkDropListDropped)="drop($event)"
    class="column-list"
  >
    <app-issue-card
      *ngFor="let issue of issues"
      [issue]="issue"
      cdkDrag
      [cdkDragData]="issue"
    ></app-issue-card>
  </div>
</div>
