<div class="issue-description">Description</div>
<ng-container *ngIf="isEditing; else readonlyModeTempl">
  <quill-editor
    [formControl]="descriptionControl"
    [modules]="editorOptions"
    format="object"
    [styles]="{ 'min-height': '200px' }"
    (onEditorCreated)="editorCreated($event)"
  ></quill-editor>
  <div class="actions">
    <button nz-button nzType="primary" [nzLoading]="isLoading" (click)="save()">
      Save
    </button>
    <app-button className="btn-empty" (click)="cancel()">Cancel</app-button>
  </div>
</ng-container>

<ng-template #readonlyModeTempl>
  <quill-view
    class="description"
    [content]="issue.description || ops"
    format="object"
    (click)="changeEditMode()"
  ></quill-view>
</ng-template>
