<nz-page-header class="site-page-header" nzTitle="Kanban board">
  <nz-breadcrumb
    nz-page-header-breadcrumb
    *ngIf="currentProject$ | async as project"
  >
    <nz-breadcrumb-item
      ><a routerLink="/projects/all">Projects</a></nz-breadcrumb-item
    >
    <nz-breadcrumb-item>
      <a routerLink="/board">{{ project.name }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ project.key | uppercase }} board</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-page-header-extra>
    <a
      href="https://github.com/sldiaz04us/kanban-project-management"
      target="_blank"
      rel="author"
    >
      <button nz-button>
        <i nz-icon nzType="github" nzTheme="outline"></i>Source code
      </button>
    </a>
    <a
      href="https://www.linkedin.com/in/sldiaz04us/"
      target="_blank"
      rel="author"
    >
      <button nz-button>
        <i nz-icon nzType="linkedin" nzTheme="fill" class="linkedin-icon"></i
        >LinkedIn
      </button>
    </a>
  </nz-page-header-extra>
</nz-page-header>
